examples/test-workflow-ai-agent-file-read.json
{
  "name": "SecureVector demo — AI Agent with File.read Policy Tool gating",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "chat-trigger",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [200, 400]
    },
    {
      "parameters": {
        "transport": "local",
        "localBaseUrl": "http://127.0.0.1:8741",
        "resource": "prompt",
        "operation": "scanPrompt",
        "prompt": "={{ $json.chatInput }}",
        "options": {},
        "blockingOptions": {}
      },
      "id": "sv-input-scan",
      "name": "SV — Scan input prompt",
      "type": "@securevector/n8n-nodes-securevector.secureVector",
      "typeVersion": 1,
      "position": [400, 400]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful assistant with access to ONE tool: secure_read_file.\n\nWhen the user asks you to read a file, fetch a feed, or look up the contents of any path or URL, you MUST call secure_read_file. Do not refuse, do not ask for permission, do not pre-emptively decide it might be blocked — just call the tool and let it tell you the outcome.\n\nThe tool takes a single argument named args_json. The value is a JSON-encoded STRING containing the request fields: path (or url), and an optional max_bytes. Examples:\n  secure_read_file({\"args_json\": \"{\\\"path\\\":\\\"/etc/hosts\\\"}\"})\n  secure_read_file({\"args_json\": \"{\\\"url\\\":\\\"https://example.com/feed.xml\\\"}\"})\n\nThe tool returns one of:\n  • The successful file/feed contents (relay it to the user)\n  • {\"blocked\": true, \"reason\": \"...\"}  →  tell the user the policy denied it and quote the reason\n\nFor any non-read request, answer directly without calling the tool."
        }
      },
      "id": "agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [620, 400]
    },
    {
      "parameters": {
        "model": {"__rl": true, "value": "gpt-4o-mini", "mode": "list"},
        "options": {}
      },
      "id": "chat-model",
      "name": "OpenAI Chat Model (attach your credential)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [500, 600],
      "notesInFlow": true,
      "notes": "Attach your OpenAI credential here (or swap for Anthropic / Ollama / Groq). gpt-4o-mini is fine for testing."
    },
    {
      "parameters": {},
      "id": "memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [620, 600]
    },
    {
      "parameters": {
        "toolName": "secure_read_file",
        "toolDescription": "Read a local file or remote feed. Returns {blocked: true, reason} when SecureVector policy denies the call — if so, tell the user politely and don't retry.",
        "securevectorToolId": "File.read",
        "realTargetWorkflowId": "PASTE_THE_REAL_TOOL_STUB_WORKFLOW_ID_HERE",
        "localBaseUrl": "http://127.0.0.1:8741"
      },
      "id": "sv-policy-tool",
      "name": "SecureVector Policy Tool",
      "type": "@securevector/n8n-nodes-securevector.secureVectorPolicyTool",
      "typeVersion": 1,
      "position": [780, 600],
      "notesInFlow": true,
      "notes": "Set Real Target Workflow ID to the ID of the 'Real Tool stub' workflow you imported separately (examples/test-workflow-real-tool-stub.json).\n\nThis is the ONLY tool wired to the agent. Adding any other ai_tool connection (e.g. n8n's built-in RSS Read or HTTP Request) creates a bypass — the LLM will pick the un-gated tool directly and skip the SecureVector policy check entirely. To gate additional tools, wrap each one with its own SecureVectorPolicyTool sub-node."
    },
    {
      "parameters": {
        "transport": "local",
        "localBaseUrl": "http://127.0.0.1:8741",
        "resource": "costs",
        "operation": "track",
        "agent_id": "n8n-file-read-demo",
        "provider": "openai",
        "source": "openai_native",
        "model_id": "gpt-4o-mini",
        "input_tokens": 200,
        "output_tokens": 80
      },
      "id": "sv-cost",
      "name": "SV — Cost track",
      "type": "@securevector/n8n-nodes-securevector.secureVector",
      "typeVersion": 1,
      "position": [840, 400],
      "notesInFlow": true,
      "notes": "Hardcoded token estimate so the demo works without extra setup.\n\nWhy not auto-derive: the AI Agent node doesn't expose tokens in $json (known n8n issue). Two options for real workloads:\n  • Switch source to 'AI Agent Execution' + create an n8n API key (Settings → API) and paste it into the n8n API Key field — calls n8n's Get Execution API to read tokenUsage from the agent's Chat Model sub-node runData.\n  • Or attach the Chat Model sub-node to a Basic LLM Chain instead of an AI Agent, then use source = 'LangChain Chat Model' which reads $json.response.generations[0][0].generationInfo.tokenUsage directly (no API key needed)."
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [[{"node": "SV — Scan input prompt", "type": "main", "index": 0}]]
    },
    "SV — Scan input prompt": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 0}]]
    },
    "AI Agent": {
      "main": [[{"node": "SV — Cost track", "type": "main", "index": 0}]]
    },
    "OpenAI Chat Model (attach your credential)": {
      "ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Window Buffer Memory": {
      "ai_memory": [[{"node": "AI Agent", "type": "ai_memory", "index": 0}]]
    },
    "SecureVector Policy Tool": {
      "ai_tool": [[{"node": "AI Agent", "type": "ai_tool", "index": 0}]]
    }
  },
  "active": false,
  "settings": {"executionOrder": "v1"}
}
